<!-- Dropdown Structure -->
<ul id="demos" class="dropdown-content">
    <li><a routerLink="listNews1">Demos 1 : Les nouveautés V17</a></li>
    <li><a routerLink="controlflow2">Demos 2 : The built-in control flow</a></li>
    <li><a routerLink="deferring3">Demos 3 : Les chargement de vue différré</a></li>
</ul>


<nav>
    <div class="nav-wrapper">
        <a href="#!" routerLink="" class="brand-logo">Cours Angular édition 2023 V17</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a class="dropdown-trigger" data-target="demos">
                    Listes de Demos pour angular V17 - Mise à jour 2023
                    <!-- Rajout de texte useless pour aggrandir le dropdown de materialize...-->
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>